[user]
	name = Lubo Kanev
	email = lubokkanev@pm.me
[diff]
	algorithm = patience
[alias]
    diff = diff --ignore-space-at-eol
	dif1 = diff --color-words --word-diff-regex=.
	dif2 = diff --color-words
[credential]
	helper = cache --timeout=604800 # a week
[push]
	default = matching
[core]
	autocrlf = false
[rerere]
	enabled = 1
