# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Lyuboslav Kanev
	email = lkanev@vmware.com
[diff]
	algorithm = patience
[alias]
    diff = diff --ignore-space-at-eol
	dif1 = diff --color-words --word-diff-regex=.
	dif2 = diff --color-words
